# Python
__pycache__/
*.py[cod]
*$py.class

# Source Code (Excluded for Release-Only Repo)
Archive.zip
*.py
*.spec
requirements.txt

# Virtual Environment
venv/
env/
.env

# Distribution / Build
build/
dist/
*.exe

# User Settings
config.json

# IDEs
.vscode/
.idea/
